* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}


.content{
  width: 100%;
  background-color: gray;
  color: antiquewhite;
  padding: 5em ;
  margin: 0 auto;
  max-width: 750px;
 
}

.more{
  width: 80%;
  max-width: 750px;
  margin: 0 auto;

}